<h3>Mon Panier</h3>
<p>
  <a routerLink="/shipping">Tarifs de livraison</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }} </span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Nom
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Adresse
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Passer la commande</button>

</form>