.livre{
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0 2px 4px;
  padding: 1em;
  margin: 1em;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/